.visible-lg,
.visible-lg-block,
.visible-sm,
.visible-sm-block {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.header .top {
    display: flex;
    height: 156px;
    background-color: #ffffff;
    margin: auto;
    position: relative;
}

.contact-info {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.lang-list {
    cursor: pointer;
    position: relative;
}

.lang-list .selected {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 120px;
}

.lang-list .selected::after {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-top-color: #0072a7;
    border-bottom: none;
    border-width: 8px;
    margin-left: -8px;
    top: calc(50% - 4px);
    right: -2px;
}

.lang-list.opened .selected::after {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.lang-list span {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.lang-list img {
    height: 32px;
    width: 40px;
}

.lang-list .others {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.64), 0 2px 8px 0 rgba(0, 0, 0, 0.48);
    padding: 0;
    width: 120px;
    right: 0;
    margin: 0;
}

.lang-list.opened .others {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.lang-list .others li {
    display: flex;
    width: 100%;
    font-size: 1.5em;
    align-items: center;
    color: #0072a7;
}

.phone-number {
    font-size: 3em;
    color: #0072a7;
    text-align: right;
    font-family: 'Oswald';
    margin: 0px;
}

.icon-telephone {
    background-image: url(/assets/icons/phone.png);
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.phone .desc {
    color: #929291;
    font-size: 1.5em;
    margin: 0px;
    text-align: right;
    display: flex;
}

.header .bottom {
    background-color: #00426A;
}

ul.menu {
    list-style: none;
    padding: 0;
    display: flex;
    font-family: 'Oswald';
    color: #B9CAD5;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 2;
}

.menu>.item {
    flex-grow: 1;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    cursor: pointer;
    position: relative;
}

.menu .spliter {
    width: 0px;
    height: 30px;
    margin: auto;
    border-right: 2px solid #b8cad6;
    color: transparent;
    opacity: .3;
    margin-left: 20px;
    margin-right: 10px;
}

.menu .item.has-child {
    position: relative;
}

.menu .item.has-child::after {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-top-color: #ffffff;
    border-bottom: none;
    top: calc(50% - 2px);
    right: -4px;
    border-width: 4px;
    margin-left: -4px;
}

.menu .item.has-child ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: 1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    background-color: #004269;
    list-style: none;
    padding: 0;
}

.menu .item a {
    display: block;
    position: relative;
}

.menu .item a:hover {
    color: #ffffff;
    transition: all .5s ease;
}

.menu .item:not(.has-child)>a::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 5px solid transparent;
    transition: all .5s ease;
}

.menu .item:not(.child):not(.has-child)>a:hover::after {
    border-color: #ffffff;
}

.menu .item.child {
    font-family: 'Lato';
    font-weight: normal;
    text-transform: capitalize;
}

.sub-menu {
    align-items: center;
    padding: 8px 0;
    font-size: 1em;
    color: #00426a;
    font-weight: bold;
    border-top: 1px solid #0072a7;
    border-bottom: 1px solid #0072a7;
    width: 100%;
}

.sub-menu ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
}

.sub-menu ul li {
    flex-grow: 1;
}

.sub-menu a {
    cursor: pointer;
}

.sub-menu a:first-child {
    margin-left: auto;
}

.sub-menu a:last-child {
    margin-right: auto;
}

.sub-menu a:hover {
    text-shadow: 0px 0px #0072a7;
}

@media (min-width: 1024px) {
    .visible-lg {
        display: flex;
    }
    .visible-lg-block {
        display: block;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    .logo img {
        width: 200px;
    }
    .header .bottom {
        box-shadow: inset 0px 11px 8px -10px #000, inset 0px -11px 8px -10px #000;
    }
    .header .top,
    ul.menu,
    .sub-menu ul {
        width: 1024px;
    }
    .icon-telephone {
        display: inline-block;
    }
    .menu .item.has-child ul {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.64), 0 2px 8px 0 rgba(0, 0, 0, 0.48);
    }
    .menu .item.has-child:hover::after {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }
    .menu .item.has-child:hover ul {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
    }
}

@media (max-width: 767px) {
    .visible-sm {
        display: flex;
    }
    .visible-sm-block {
        display: block;
    }
    .header .top {
        margin: 15px;
        border-radius: 4px;
        border: 1px solid #dddddd;
        height: 120px;
    }
    .header .top::after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: linear-gradient(#dddddd, #dddddd00);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .page-title {
        margin: 0;
        color: #b9cad5;
        font-size: 16px;
        font-weight: bold;
        font-family: Oswald;
        margin: 0 15px;
        height: 50px;
        align-items: center;
    }
    .header .bottom {
        position: absolute;
        left: 0px;
        right: 15px;
        transform: translateX(-100%);
        min-height: calc(100% - 30px);
        margin: 15px 0px;
    }
    .header .bottom.opened {
        left: 15px;
        animation: slide-in 0.5s forwards;
    }
    .header .bottom.closed {
        animation: slide-out 0.5s forwards;
    }
    ul.menu {
        flex-direction: column;
        margin: 0 15px;
    }
    .menu>.item {
        text-align: left;
        margin: 0 -15px;
        overflow: hidden;
    }
    .menu>.item a {
        padding: 0 15px;
    }
    .menu>.item>a:hover {
        background-color: #003757;
    }
    .menu .item:not(.child)>a::after {
        display: none;
    }
    .menu .item:not(.child)>a::before {
        content: " ";
        left: 0;
        top: 0;
        bottom: 0;
        right: inherit;
        position: absolute;
        border-left: 5px solid transparent;
        transition: all .5s ease;
    }
    .menu .item:not(.child)>a:hover::before {
        border-left-color: #ffffff;
    }
    .menu .item.has-cities.opened,
    .menu .item.has-child.opened {
        height: auto;
    }
    .menu .item.has-child::after,
    .menu .item.has-cities::after {
        border: solid transparent;
        content: " ";
        position: absolute;
        pointer-events: none;
        border-top-color: #ffffff;
        border-bottom: none;
        top: 20px;
        right: 20px;
        border-width: 8px;
        margin-left: -8px;
    }
    .menu .item.has-cities ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-2em);
        z-index: 1;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        background-color: #004269;
        list-style: none;
        padding: 0;
    }
    .menu .item.has-cities.opened ul,
    .menu .item.has-child.opened ul {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
    }
    .menu .item.has-cities.opened::after,
    .menu .item.has-child.opened::after {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }
    .menu .item.has-cities ul,
    .menu .item.has-child ul {
        position: relative;
    }
    .menu .item ul a {
        padding-left: 30px;
    }
    .contact-info {
        margin-left: auto;
    }
    .phone-number {
        font-size: 2em;
    }
    .phone {
        margin-top: 15px;
    }
    .phone .desc {
        display: block;
    }
    .menu-btn-container {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .menu-btn-container a {
        color: #b9cad5;
        padding: 12px 8px;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        margin: 0 15px;
        cursor: pointer;
    }
    .menu-btn-container:not(.close) a {
        background-color: #003757;
    }
    .menu-btn-container:not(.close) a:hover {
        color: #ffffff;
        background-color: #00426a;
    }
    .menu-btn-container a:hover {
        transition: all .3s;
    }
    .menu-btn-container.close a {
        font-size: 2em;
    }
    .lang-list {
        margin-left: auto;
        margin-right: 15px;
    }
    .lang-list .selected {
        color: #B9CAD5;
    }
    .lang-list .selected::after {
        border-top-color: #ffffff;
    }
    .search {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .search::after {
        content: " ";
        background: url(/assets/icons/search.png);
        background-size: cover;
        background-position: center;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 8px;
        top: 8px;
    }
    .search input {
        border-radius: 0;
    }
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}