.header {
    display: flex;
    flex-direction: column;
}

.header .top {
    display: flex;
    padding: 1em 5em;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-right: 5em;
}

.search {
    position: relative;
    margin: auto;
}

.search input {
    background-color: #f0f0ed;
    padding-right: 1.8em;
    color: #594337;
}

.icon-search {
    position: absolute;
    font-size: 1.5em;
    right: 0.5em;
    top: 0.4em;
    -webkit-mask-image: url(./assets/icons/search.svg);
}

.min-width-250px {
    min-width: 250px;
}

.contact-info {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.lang-list {
    cursor: pointer;
    position: relative;
}

.lang-list .selected {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 120px;
}

.lang-list .selected::after {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-top-color: #0072a7;
    border-width: 8px;
    margin-left: -8px;
    top: 12px;
    right: 6px;
}

.lang-list span {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.lang-list img {
    height: 32px;
    width: 40px;
}

.lang-list.opened .others {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.lang-list .others {
    position: absolute;
    right: 0;
    top: 1.5em;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 10;
    background-color: #ffffff;
    padding: 0px;
    width: 120px;
}

.lang-list .others li {
    display: flex;
    width: 100%;
    padding-right: 30px;
    font-size: 1.5em;
    align-items: center;
}

.phone-number {
    font-size: 3em;
    color: #0072a7;
}

.phone-number {
    font-family: 'Oswald';
    margin: 0px;
}

.icon-telephone {
    -webkit-mask-image: url(./assets/icons/phone.svg);
    display: inline-block;
}

.phone .desc {
    color: #929291;
    font-size: 1.5em;
    margin: 0px;
}