@import url(./lg-devices.css) (min-width: 1024px);
@import url(./sm-devices.css) (max-width: 767px);
.header-container {
    width: 100%;
    position: relative;
}

.visible-lg,
.visible-sm {
    display: none;
}

@media (min-width:1024px) {
    .visible-lg {
        display: block;
    }
}

@media (max-width:767px) {
    .visible-sm {
        display: block;
    }
}